/* JobList.css */
.joblist-container {
    background-color: var(--standard-background); 
    padding: 20px; 
    border-radius: 8px; 
    margin: 20px 0; 
    overflow: auto; 
    box-shadow: none; 
    transition: none;
  }

.joblist-job-title {
  font-weight: bold;
  color: var(--standard-accent-yellow); 
  background: none; 
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset; 

.joblist-job-company {
  color: var(--standard-accent-yellow);
  background: none; 
  -webkit-background-clip: unset; 
  -webkit-text-fill-color: unset; 
}

.joblist-duration {
  color: var(--standard-light-grey);
  font-size: 14px;
  margin-top: 5px;
}

.job-description li {
  color: var(--standard-text-white);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  font-family: "NTR", sans-serif;
}

.job-description li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--standard-accent-yellow);
}