html, body, #root, .App, .page-container {
  background: #232323 !important;
}

html, body {
  margin: 0;
  font-family: 'NTR', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; /* Changed from 100vh for better cross-device compatibility */
  box-sizing: border-box;
  color: var(--standard-text-white);
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

:root {
  --standard-background: #232323;
  --standard-text-white: #FFFFFF;
  --standard-accent-yellow: #FFFF00;
  --standard-accent-red: #FF533D;
  --standard-light-grey: #E0E0E0;
  --standard-dark-grey: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav, .nav-logo, .top-links, .home-nav-top, .home-nav-top-right, .home-nav-middle-left, .home-nav-middle-right, .home-nav-bottom, .home-container a {
  font-family: 'NTR', Arial, sans-serif !important;
}
